body {
  margin: 0;
  font-family: Source Code Pro,monospace;
  font-size: 14px;
  padding: 0 10px;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

dl {
  display: block;
}

dt {
  width: 200px;
  text-align: left;
}

dd{
  width: 200px;
}

.flex-layout {
  display: flex;
}

.flex-layout > div {
  flex: 1;
  padding: 0 50px;
}

span.btn {
  margin: 0 10px;
}

span.divide {
  margin: 0 20px;
}